
{% block body %}
    <p>Dear Sales,</p>
    <br>
    <p>
        The following person with firstname : <strong>{{ firstname }} </strong> and lastname : <strong>{{ lastname }}</strong><br><br>
        requested a detailed simulation through our simulation tool. <br>

        Please get in touch with the following email: <strong> {{ email }}</strong>.<br><br>

        <br>
        Thanks,
        <br><br>
        Robot Senso
    </p>
    
    <div style="float: left">
        <img style=" margin-right: 0px;" src="{{ image }}" alt="Logo">
    </div>
    <div style="border-left:solid; padding-left: 1%; float: left;
         margin-left: 2%">
        <h3>Senso SARL</h3>
        <div style="color: #2e6da4">Mobile : +352 691 198 027</div>
        <div style="color: #2e6da4">Mobile : +352 661 661 196</div>
        <div style="color: #2e6da4">Website : http://www.senso.lu</div>
        <div style="color: #2e6da4">Address : <span style="color: #3c3c3c">3 rue Sangels <br> L5425 Gostingen (Luxembourg)</span></div>
    </div>
{% endblock %}