/******************** COLORS *********************/
$primary: #1761a0;
$primary-light: #578ed2;
$primary-dark: #003871;
$secondary: #008751;
$secondary-light: #4bb87e;
$secondary-dark: #005928;

$color-black: #000;

$text-primary: #4f4f4f;
$text-primary-dark: #272727;
$text-secondary: #fff;

$font-display: 'Noto Sans JP', sans-serif;

/******************* TYPOGRAPHY ******************/
$font-family-sans-serif: Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
