.card--movement {
  margin: 0 auto;
  width: 90%;
  text-align: left;
  margin-bottom: 1rem;
}

.card-body.card-body--movement {
  text-align: left;
  font-size: 0.95rem;
  padding: 1.5rem 0.5rem;
}

.card-text--movement {
  color: $text-primary;
}

.movement-detail {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.movement-amount {
  align-self: flex-end;
}

.table-container {
  @media (min-width: $md-bp) {
    margin: 0 calc(3.125rem * 2);

    max-width: 80rem;
  }
}

.table {
  display: table;
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border: none;
  border-spacing: 0 0.5rem;

  &__header {
    background-color: $primary;
    color: $text-secondary;
    font-weight: 300;
  }

  &__body {
    background-color: #fff;
    color: $text-primary;
  }
}

.table thead th,
.table td {
  vertical-align: middle;
}

.negative {
  color: $red;
}

.positive {
  color: $secondary;
}
