.table-container {
  @media (min-width: $md-bp) {
    margin: 0 calc(3.125rem * 2);

    max-width: 80rem;
  }
}

.table {
  display: table;
  height: 100%;
  width: 100%;
  border-collapse: separate;
  border: none;
  border-spacing: 0 0.5rem;

  &__header {
    background-color: $primary;
    color: $text-secondary;
    font-weight: 300;
  }

  &__body {
    background-color: #fff;
    color: $text-primary;
  }

  &__column {
    max-width: 350px;

    &:not(:last-of-type) {
      min-width: 100px;
    }
  }
}

.table thead th,
.table td {
  vertical-align: middle;
}

.negative {
  color: $red;
}

.positive {
  color: $secondary;
}

.pagination {
  justify-content: space-between;
}

.pagination-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-grow: 1;
}

.pagination-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: nowrap;
  flex-grow: 1;
  margin-right: 1rem;
}
