.nav-btn {
  padding: 0 0.5rem;
}

.btn {
  &-round {
    &,
    &:link,
    &:visited {
      border-radius: 10rem;

      padding: 0.5rem 1rem;
      outline: none;
      border-style: none;
      transition: all 0.2s;
    }

    &:hover {
      box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
      outline: none;
    }

    &:active,
    &:focus {
      outline: none;
      border-style: none;
      border: none;
      transform: translateY(1px);
      box-shadow: 0 0.5rem 0.5rem rgba($color-black, 0.2);
    }
  }

  &-square {
    padding: 0.5rem 0.75rem;
    border-radius: 0;
    position: absolute;
    top: 11.1rem;
  }

  &-primary {
    box-shadow: 0 0.5rem 0.5rem rgba($primary-dark, 0.2);
    margin-right: 0.5rem;
  }

  &-secondary {
    &:hover {
      background-color: $secondary-dark;
    }
  }
}
