{% extends 'base.html.twig' %}

{% block title %}Hello FrontendController!{% endblock %}

{% block body %}
    <div id="root"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('index') }}
{% endblock %}
