{% extends 'base.html.twig' %}

{% block body %}

    {% include 'header.html.twig' %}

    <div class="container-fluid">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
        <h2 class="title text-center">Client Contract</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
