{% extends 'base.html.twig' %}
    {% block body %}
        {% include 'header.html.twig' %}
            <div class="container-fluid">
                <div class="row">
                    <h3>Dashboard</h3>
                    <!-- I need a section own details (addresse, IBAN, secu details, phone number, current contract, current rate, contract expiration date-->

                    <!-- I need a section timesheet (list timesheet with status and option to view, edit, and delete "only for admin")-->
                    <!-- I need a section invoice (tbd e.g. list invoices + status, view, "edit and delete only for admin" send email to achat_accountant stuff etc...)-->
                    <!-- I need a section statements (tbd)-->
                </div>
            </div>
        {% include 'footer.html.twig' %}
    {% endblock %}